# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*

# Kubeconfig local
.kube/

# Java
apps/backend/target/

# Angular / Node
apps/frontend/node_modules/
apps/frontend/dist/
apps/frontend/coverage/

# IDE / SO
.idea/
.vscode/
.DS_Store

# Segredos e ajustes locais
.env
.env.local
*.auto.tfvars
!*.auto.tfvars.example
